<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"> </script>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div class="container">
    <button class="choice" id="bahce-tarimi">Bahçe Tarımı</button>
    <button class="choice" id="bireyler-arasi-iletisim">Bireyler Arası İletişim</button>
    <button class="choice" id="ekoloji-ve-cevre-bilgisi">Ekoloji ve Çevre Bilgisi</button>
    <button class="choice" id="genel-biyoloji">Genel Biyoloji</button>
    <button class="choice" id="tarla-bitkileri">Tarla Bitkileri</button>
  </div>
  <script src="index2.js"></script>
</body>

</html>